html, body {
    height: 100%;
    width: 100%;
    font-family: 'Fantasy', Verdana;
    background-color: rgb(9, 195, 236);
    }
    .button{
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    background-color:rgb(255, 255, 255);
    }
    .row{
    margin: 8px 0;
    }
    .row input{
    width: 291px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid rgb(61, 54, 54);
    border-radius: 5px;
    margin-bottom:1px;
    margin-top:10px;
    
    }